@import './scss/header.scss';
@import './scss/main.scss';
@import './scss/footer.scss';
@import './scss/form.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",
  sans-serif;
  input[type="number"] {

    
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    
    -moz-appearance: textfield;
  }


}

.header-container{
  width: 100%;
}
.section-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  gap: 20px;
}

.body-container{
  width: 100%; 
  
}
.section{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 20px;
  background: #f2fafc;
  background: linear-gradient(85deg, rgba(242, 250, 252, 1) 3%, rgba(177, 240, 231, 1) 50%, rgba(157, 242, 242, 1) 100%);
}

.admin-box{
  width: 400px;
  margin: 100px auto;
  background-color: aquamarine;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.button-box{
 button{
   padding: 10px;
   background-color: greenyellow;
   cursor: pointer;
   border: none;
   border-radius: 15px;
 }
}