.footer-box{
    background: #070602;
    background: linear-gradient(180deg, rgb(245, 141, 141) 3%, rgb(243, 183, 183) 47%, rgb(242, 225, 225) 100%);
    color: white;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3{
        font-weight: 500;
    }
    p{
        color: rgba(34, 31, 35, 0.647);
        font-size: 14px;
        span{
            color: white;
            font-size: 12px;
        }
    }
}

.underline-box{
    width: 100%;
    padding: 0 20px;
    .line{
      height: 1px;
      background-color: rgba(0, 0, 0, 0.425);
    }
}

.logo-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  
}
.last{
    font-size: 12px;
    color: black;
}