

.form-box{
    width: 100%;
    padding: 20px;
     background-image: url('../img/calculated.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 15px;
      margin-bottom: 20px;
}
.hd2f{
    color: rgb(251, 5, 5);
    background-color: rgba(0, 0, 0, 0.616);
    width: fit-content;
    margin: 0 auto;
}
.form{
    padding: 20px;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
   
    text-align: center;
}
.input-boxs{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    input{
        padding: 10px;
        border-radius: 5px;
        border: none;
        &::placeholder{
            font-size: 18px;
        }
        &:focus{
            outline: none;
        }
    }
p{
    font-size: 12px;
    text-align: left;
}

}

.formbtn{
 padding: 10px;
 border-radius: 5px;
 border: none;
 background-color: rgb(249, 249, 249);
 cursor: pointer;
 border: none;
 font-size: 18px;
}
 .cartnumber{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    input{
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 18px;
        border:1px solid rgba(0, 0, 0, 0.285);
    }
 }

 .filter{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.497);
    margin-top: 5px;
 }

 .check-btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    button{
        width: 100%;
        font-size: 18px;
        cursor: pointer;
        padding: 10px 15px;
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
        border: none;
        color: rgb(255, 255, 255);
    }
 }

 .red{
    color: red!important;
    font-size: 12px;
    margin-top: 10px;
 }

 .hide{
    visibility: hidden;
 }

 .contract-body{
    border: 1px solid rgba(0, 0, 0, 0.374);
    border-radius: 15px;
    background-color: white;
 }
 .c-header{
padding: 10px 20px;
p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.39);
}
h3{
    font-weight: 500;
}

 }

 .line{
    width: 80%;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.352);
 }

.title-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    h3{
        font-weight: 500;
    }
    p{
        font-size: 12px;
        color: rgba(0, 0, 0, 0.375);
    }
}
.user-information{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background-color: rgb(238, 236, 235);
    h3{
        font-weight: 500;
        text-align: center;
    }
    p{
        font-size: 14px;
    }
}

.credit-information{
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding: 15px 20px;
     background-color: rgb(224, 239, 199);

     h3 {
         font-weight: 500;
         text-align: center;
     }

     p {
         font-size: 14px;
     }
}

.muqavile{
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding: 15px 20px;
     background-color: rgb(207, 214, 223);

     h3 {
         font-weight: 500;
         text-align: center;
     }

     p {
         font-size: 14px;
     }
}

.varning{
    padding: 15px 20px;
    font-size: 14px;
    background-color: rgb(241, 241, 194);
    color: rgba(0, 0, 0, 0.468);
    span{
        color: black;
        font-size: 16px;
    }
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.activate-box{
display: flex;
justify-content: center;
button{
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    background-color: rgb(91, 242, 134);
    color: white;
    border: none;
    border-radius: 15px;
}
}
.boddy{
    padding: 10px;
}
.sended{
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.sd-head{
    text-align: center;
    background-color: rgb(107, 151, 239);
    color: white;
}

.sd-dep{
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(25, 106, 235);
    text-align: center;
    h5{
        color: white;
    }
}

.l-one{
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.408);
    color: white;
    padding: 10px;
    .yellow{
        color: rgb(230, 171, 88);
        font-weight: 800;
        font-size: 18px;
    }
}

.l123{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.608);
}


.s-footer{
    padding: 10px;
    button{
        width: 100%;
        padding: 10px 15px;
        font-size: 18px;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
}


.sd-sds{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 15px;
     border-radius: 10px;
     background-color: rgb(216, 249, 238);
     border: 1px solid #e5e7eb;
}
.cube{
    margin: 10px;
   width: 50px;
   height: 50px;
   background-color: rgb(5, 71, 203);
   color: white;
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;

   
}

.yellows{
    color: rgb(219, 141, 8);
}

.filters{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.519);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}